%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
%{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
    {jose, ".*", {git, "git://github.com/potatosalad/erlang-jose.git", {tag, "1.8.0"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}}
]}.
